/* theme color */
$--color-primary: #665cac;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-header {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    h1 {
        color: #665CAC;
    }
}
.el-main {
    width: 960px;
    overflow: hidden;
    align-self: center;
}

.el-tab-pane {
    display: flex;
    flex-direction: column;
    background-color: #E4E7ED;
}

.el-tabs__item {
    outline: none;
}

.comment-card {
    max-width: 400px;
    background-color: #665cac;
    color: #ffffff;
    border: none;
    margin: 10px 0 0 15px;
    p {
        margin: 2px;
    }
}

.reply-card {
    max-width: 400px;
    margin: 10px 15px 0 0;
    align-self: end;
    p {
        margin: 2px;
    }
}

.image {
    max-width: 360px;
    max-height: 360px;
}

.reply-form {
    display: flex;
    margin: 20px 0px 0 15px;
    .reply-input, .el-form-item__content {
        width: 100%;
    }
}
